
#zd1{
    border: 2px solid red;
}

#zd2{
    border: 2px solid red;
}

#zd3{
    border: 2px solid red;
}

#zd7{
    border: 5px solid grey;
}
#zd8{
    border: 5px solid grey;
}
.www{
    background: green;
}
